<div class=''>
  <img class='map' src='/assets/map.png'>

  <img class='teachable' src='/assets/teachable-logo.png' alt='Teachable'>
  <div class='search'>
    <a href='/'>Search</a>
  </div>
  <div class='favorites'>
    <a href='/favorites'>Favorites</a>
  </div>

  <div class='favorite-gems'>
    <h1>Your Favorite Gems</h1>
  </div>
</div>
