<div class='side-bar'>
  <img class='map' src='/assets/map.png'>

  <img class='teachable' src='/assets/teachable-logo.png' alt='Teachable'>
  <div class='search'>
    <a href='/'>Search</a>
  </div>
  <div class='favorites'>
    <a href='/favorites'>Favorites</a>
  </div>

</div>
